@font-face {
    font-family: 'Ubuntu Bold';
    src: url('Ubuntu-Bold.eot');
    src: url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Bold.woff2') format('woff2'),
        url('Ubuntu-Bold.woff') format('woff'),
        url('Ubuntu-Bold.ttf') format('truetype'),
        url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url('Ubuntu-Medium.eot');
    src: url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Medium.woff2') format('woff2'),
        url('Ubuntu-Medium.woff') format('woff'),
        url('Ubuntu-Medium.ttf') format('truetype'),
        url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('Ubuntu.eot');
    src: url('Ubuntu.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu.woff2') format('woff2'),
        url('Ubuntu.woff') format('woff'),
        url('Ubuntu.ttf') format('truetype'),
        url('Ubuntu.svg#Ubuntu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu Light';
    src: url('Ubuntu-Light.eot');
    src: url('Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Light.woff2') format('woff2'),
        url('Ubuntu-Light.woff') format('woff'),
        url('Ubuntu-Light.ttf') format('truetype'),
        url('Ubuntu-Light.svg#Ubuntu-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url('Gagalin-Regular.eot');
    src: url('Gagalin-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gagalin-Regular.woff2') format('woff2'),
        url('Gagalin-Regular.woff') format('woff'),
        url('Gagalin-Regular.ttf') format('truetype'),
        url('Gagalin-Regular.svg#Gagalin-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lifehack';
    src: url('Lifehack-Medium.eot');
    src: url('Lifehack-Medium.eot?#iefix') format('embedded-opentype'),
        url('Lifehack-Medium.woff2') format('woff2'),
        url('Lifehack-Medium.woff') format('woff'),
        url('Lifehack-Medium.ttf') format('truetype'),
        url('Lifehack-Medium.svg#Lifehack-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

